/* fonts */
.raleway-overall-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.inter-secondary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*Common styles */
.basic-color {
    color: #4E47FF;
}
body{
    background-color: #0800ff15;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.btn {

    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    background-color: #4E47FF;
    font-size: 16;
    font-weight: bold;
}

.btn:hover {
    background-color: rgba(128, 0, 128, 0.747);
    border-radius: 0px;
    padding: 13px 37px;
}

/* Header and banner section */
header{
     background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}    
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.banner {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 309px 268px 158px 268px;
    
}


.logo {
    font-size: 40px;
    font-weight: 800;
}
/* Action section */
.action{
    margin-top: 116px;
    display: flex;
    justify-content: space-around;
    gap: 90px;

}
.p1{
    font-size: 42px;
    font-weight: bold;
}
.p2{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.471);
}
.action div img{
    border-radius: 48px;
    
    
}
/* productive user section */
.active-usr{
    text-align: center;
    margin: 116px 240px 0px 240px;
    background-color: #4d47ff1b;
    padding: 50px 100px;
    border-radius: 28px;

}
.active-usr-info{
    display: flex;
    gap: 158px;
    justify-content: center;
}
.active-usr-heading{
    font-size: 38px;
    font-weight: bold;

}
.p01 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 5px;

}
.p02{
    margin-top: 2px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.536);

}
/* user feedback section */
.usr-feedback{
    
    margin-top: 137px;
}
.feedback{
    display: flex;
    gap: 130px;
    justify-content: center;

}
.review{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.077) ;
    padding: 20px 120px 20px 20px;
    border-radius: 14px;
}

.card{
    display: flex;
    gap: 14px;
}
.card-image{
    border-radius: 50em;
}
#p001{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
#p002{
    font-size: larger;
    font-weight: bold;
}
/* focus better section */
.focus{
    text-align: center;
    margin-top: 137px;
    background-color: rgba(255, 255, 255, 0.367);
    margin: 137px 240px;
    padding: 20px;
    border-radius: 14px;
}
#p0001{
    font-size: 50px;
    font-weight: bold;
}
#p0002{
    color: rgba(0, 0, 0, 0.526);
}
.focus-img{
    border-radius: 48px;
}
.focus p{
    margin-bottom: 30px;
}
